<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parks Blog Scraper</title>
    <!-- Reset CSS -->
    <link rel="stylesheet" href="css/reset.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <!-- Extra Style -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper blue darken-2">
            <a href="#" class="brand-logo center">Parks Blog Scraper</a>
            <a href="#" data-activates="mobile-menu" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/saved">Saved Articles</a>
                </li>
                <li>
                    <a href="#" class="waves-effect waves-light btn deep-purple  art-scrape">Scrape Articles</a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-menu">
                <li>
                    <a href="#" class="waves-effect waves-light btn deep-purple art-scrape">Scrape Articles</a>
                </li>
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/saved">Saved Articles</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="container">
            <br>
            <div class="row white z-depth-2">
                {{#if dbArticle}}
                <div class="col s12">
                    <h3 class="brand-logo">Articles</h3>
                    <div class="divider"></div>
                </div>
                {{#each dbArticle}}
                <div class="col s12">
                    <div class="card horizontal blue darken-2">
                        <div class="card-image">
                            <img src="test.jpg" class="responsive-img">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <h4 class="white-text">
                                    <b>{{title}}</b>
                                </h4>
                                <h5>By {{author}}</h5>
                            </div>
                            <div class="card-action">
                                <a href="{{link}}" class="waves-effect waves-light btn orange link-article">Link To Article</a>
                                <a href="#" class="waves-effect waves-light btn teal save-article right" data-id="{{_id}}">Save article</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <div class="col s12">
                    <h3 class="center">No articles here. Scrape some!</h3>
                </div>
                {{/if}}
            </div>
        </div>
    </main>
    <script src="js/index.js"></script>